
<% if(pass){ %>
<body style="background-image: url('https://img.freepik.com/free-photo/neon-tropical-monstera-leaf-banner_53876-138943.jpg?w=1060&t=st=1703361110~exp=1703361710~hmac=006fc47fc80cafe91dac5dbbc78a71b265cd6217676bb70f07a02379aadbec9d');
background-size: cover; background-repeat: no-repeat; 
background-position: center; font-family:monospace">
    

    <div class="container bg-light text-center d-flex flex-column justify-content-center align-items-center"
    style="width: 40vw;
    height: 45vh;
    border: 1px solid black;
     margin: 25vh 25vw;
     border-radius: 40px;
     box-shadow: 5px 5px 10px grey;">

    <p>ejgem vjg ocr ucknqt!</p>
    <p>56.356409951435336, -330.54374856138631</p>
    <img src="/images/level2img.jpeg" alt="left left" style="height: 15vh;width: 15vw;">
    <form class="m-4" action="/page3" method="post">
        <input type="text" name="key3" placeholder="Enter key">
        <input type="submit" class="btn btn-danger" value="Submit">
        <% if (typeof error !== 'undefined') { %>
            <script>
                alert('Wrong key');
            </script>
        <% } %>
    </form>
</div>
</body>
<% }else{ %>
<h1>Invalid attempt</h1>
    <% } %>