

<% if(pass){ %>
<body style="background-image: url('https://img.freepik.com/free-photo/neon-tropical-monstera-leaf-banner_53876-138943.jpg?w=1060&t=st=1703361110~exp=1703361710~hmac=006fc47fc80cafe91dac5dbbc78a71b265cd6217676bb70f07a02379aadbec9d');
background-size: cover; background-repeat: no-repeat; 
background-position: center; font-family:monospace">
    

    <div class="container bg-light text-center d-flex flex-column justify-content-center align-items-center"
    style="width: 30vw;
    height: 35vh;
    border: 1px solid black;
     margin: 25vh 25vw;
     border-radius: 200px;
     box-shadow: 5px 5px 10px grey;
     filter: invert(1)">

    <p>ITS zipped up.</p>
    <p style="font-family: serif;">Find the Key</p>
    <a href="https://www.dropbox.com/scl/fi/ssg49jptmym0wqxjo1x97/open-me.zip?rlkey=rjo9w2sic8oscc7f5i8mfjfl6&dl=1" class="btn btn-warning">Download Here</a>
    
    <form class="m-4" action="/page4" method="post">
        <input type="text" name="key4" placeholder="Enter key">
        <input type="submit" class="btn btn-danger" value="Submit">
        <% if (typeof error !== 'undefined') { %>
            <script>
                alert('Wrong key');
            </script>
        <% } %>
    </form>
</div>
</body>
<% }else{ %>
<h1>Invalid attempt</h1>
    <% } %>

