<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level Text File</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<style>
    body {
        font-family: "Exo", Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.859);
        padding: 20px;
        color: #00cdaf;
    }
    .container{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main{
        margin:auto;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #00cdaf;
        background-color: rgba(0, 0, 0, 0.448);
        width: 40vw;
        border: 5px solid black;
        border-radius: 15px;
        box-shadow: 0 0 10px #00cdaf;
        padding: 20px;
        text-align: center;
    }
    #submitBtn{
        border: 2px solid black;
        border-radius: 5px;
        font-size: 24px;
        color: black;
        background-color: #00cdaf;
        font-family: "Exo";
        font-weight: bold;
        margin: 10px;
        padding: 5px 10px;
    }
    #submitBtn:hover{
        cursor: pointer;
        background-color: black;
        color: #00cdaf;
    }
    input::placeholder{
        color: black;
        font-family: "Exo", Arial, sans-serif;
    }
    #answer {
        font-size: 24px;
        border: 2px solid #00cdaf;
        background-color: #026f5f;
        border-radius: 10px;
    }
    p{
        margin: 10px;
        font-size: 24px;
    }
    h1{
        margin: 10px;
        font-size: 48px;
    }
    #cryptic-string {
        font-family: "Courier New", monospace;
        color: #00cdaf;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #00cdaf;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.7);
    }
</style>
<body>
    <div class="container">

        <div class="main">
            <% if (pass) { %>
            <h1>Decode the String</h1>
            <div id="cryptic-string">
                %%$@$^#)^)&!+]!@&^}@[@%]()%+$&[(@%+%$^@$^!+]!&#)}{}}!}]$[%}@[{@#^{
                <br>
                @##&{#&{&)%(]{{([}@[@&]+!!{)!}{%+{))])[!^})+)$]#{+^((@^@}$[$&^{$!@#$%)!@(&
                <br>
                +^!{%$&@^!}$${)$#)!({@!)(^}!^&!$%&&}&#&@{)]{+)%{&%&@%$+]!_(#!){%&@++
                <br>
                !)^$&&%#+)}!@!)&^}#!$([$!$}#^}$+&#[{{}{((#$]{[$[$$()#}!@}^@&%^!){^^_$^
                <br>
                ]@}#%[%!^[^})+@&}{@!(@$%$^)}[!}(}#}#}!](@{{(#%!%%+)^+#%}$+_]#}%!#!^_
            </div>
            <p>Analyze the string above and extract the correct information. Once you've decoded it, enter the answer below:</p>
	   <form action="/6OzAn7NEcLprJMgY6MICdXrNnCqDIR" method="post">
            <input type="text" id="answer" name="key6" placeholder="Type your answer here">
	   <input type="submit" id="submitBtn" value="Submit">
	   <% if (typeof error !== 'undefined') { %>
	   	<script>alert("Sorry, that's not correct. Try again!")</script>
	   <% } %>
	   </form>
            <% } else { %>
                <h1>Invalid attempt</h1>
            <% } %>
        </div>
    </div>
</body>
</html>
