<body style="background-image: url('https://images.unsplash.com/photo-1601042879364-f3947d3f9c16?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-size: cover; background-repeat: no-repeat; 
background-position: center; font-family:monospace">
    

    <div class="container text-center d-flex flex-column justify-content-center align-items-center"
    style="width: 50vw;
    height: 40vh;
     margin: 25vh 25vw;
     border-radius: 40px;
     box-shadow: 5px 5px 10px grey;
     background: rgba(219, 208, 208, 0.3);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.15);">

    <p>What if you try to rearrange the pixels in that image..</p>
    <a href="https://www.dropbox.com/scl/fi/aqbvd0x24fywoj00fzbsz/tathva_level4.jpeg?rlkey=uqxdcf065jlimmqqxubas5f3q&dl=1" class="btn btn-light"
    style="background: #5E5DF0;
      border-radius: 999px;
      box-shadow: #5E5DF0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #d3cdcd;
      cursor: pointer;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border: 0;">Download Here</a>    
    
    <form class="m-4" action="/page5" method="post">
        <input type="text" name="key5" placeholder="Enter key">
        <input type="submit" class="btn btn-secondary" value="Submit">
        <% if (typeof error !== 'undefined') { %>
            <script>
                alert('Wrong key');
            </script>
        <% } %>
    </form>
</div>
</body>

