<body style="background-image: url('https://img.freepik.com/free-photo/3d-retro-styled-wireframe-landscape-background_1048-18074.jpg?w=826&t=st=1703361480~exp=1703362080~hmac=b8b7e4d45e1c566dbfac7632dff137a9f9c66e39170db21328c30e8d1362ad21');
background-size: cover; background-repeat: no-repeat; 
background-position: center; font-family:monospace">
    

    <div class="container bg-light text-center d-flex flex-column justify-content-center align-items-center"
    style="width: 50vw;
    height: 40vh;
    border: 1px solid black;
     margin: 25vh 25vw;
     border-radius: 40px;
     box-shadow: 5px 5px 10px grey;">

    <p>Debitis ipsam assumenda sunt, incidunt a rem. Cumque rerum, illo dict</p>
    <a href="https://www.dropbox.com/scl/fi/aqbvd0x24fywoj00fzbsz/tathva_level4.jpeg?rlkey=uqxdcf065jlimmqqxubas5f3q&dl=1" class="btn btn-success">Download Here</a>    
    
    <form class="m-4" action="/page5" method="post">
        <input type="text" name="key5" placeholder="Enter key">
        <input type="submit" class="btn btn-secondary" value="Submit">
        <% if (typeof error !== 'undefined') { %>
            <script>
                alert('Wrong key');
            </script>
        <% } %>
    </form>
</div>
</body>

