<body style="background:url('images/blob-scatter-haikei.svg');
background-size: cover;">


  <div class="container text-center d-flex justify-content-center align-items-center flex-column"
    style="@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:wght@600&family=Rubik&family=Rubik+Doodle+Shadow&family=Varela+Round&display=swap');
    width: 50vw;
    font-family: 'Varela Round', sans-serif;
    height: 40vh;
    border: 1px solid black;
     margin: 25vh 25vw;
     border-radius: 40px;
     background: rgb(164,1,1);
background: linear-gradient(81deg, rgba(164,1,1,1) 0%, rgba(247,116,23,1) 100%);
     box-shadow: 5px 5px 10px grey;">
     
    <h1 class="text-center mt-5">
      <%= user.name %>'s Profile
    </h1>
        <div class="container p-4 text-center">
      
      <form action="/profile" method="post">
        <%# <input type="text" name="key1"> %>
          <% if(typeof sts !=='undefined' ){ %>
            <h3>Tasks completed.</h3>
            <h3>See You at Tathva '23?</h3>

            <script>
              let bodyimg=document.querySelector('body');
              bodyimg.style.backgroundImage="url('images/tathvaold.jpg')";
            </script>
            <% }else{ %>
              <h3>So, shall we begin?..</h3><br>
              <input type="submit" class="btn btn-secondary" value="Start">

              <% } %>
      </form>
    </div>
  </div>
</body>