@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:wght@600&family=Rubik&family=Rubik+Doodle+Shadow&display=swap');
.pageh{
    width: 100%;
    height: 70vh;
    /* background: red; */
    display: flex;
    align-items: center;
}

.texthome{
    color: azure;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;;
}

.texthome h1{
    font-size: 8rem;
     font-weight: 500;
     line-height: 1;

  
     /* Create the gradient. */
     background-image:repeating-radial-gradient(farthest-side at 5px 5px,#351197, #c8d333, #42a758);
     text-shadow: 2px 4px 4px rgba(125, 167, 247, 0.6);
     
     /* Set the background size and repeat properties. */
     background-size: 100%;
     background-repeat: no-repeat;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;

}
.texthome h3{
    font-size: 5rem;
    /* font-family:'Rubik', sans-serif;
*/
}

.texthome h2{
  font-size: 6.5rem;
  font-weight: 500;
  color: #553c9a;
  border-right: 4px solid #000;
  background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
  background-image: repeating-radial-gradient(circle farthest-side at 5px 10px,#42a758 10%, #c4cf21 30%, #351197);
  animation: cursor 1s infinite step-end, typing 15s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
    margin-top: -2rem;
    /* font-family: 'Rubik', sans-serif; */

}

@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #d8d8d8;}
}

@keyframes typing{
  0%{ width: 0ch} /*Text is hidden*/
  30%{ width: 5.5ch;} /*The enitre header will be typed out*/
  80%{ width: 5.5ch;} /*Text stays visible*/
  90%{ width: 0ch;} /*Text is deleted*/
  100%{ width: 0ch;} /*Text stays hidden*/
}


body {
    
    background-image: url('../images/cicada.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
}


.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}